<!doctype html>
<html lang="en">
	<head>
		{% load static %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<title>Drop file to upload</title>
	</head>
	<body>
		<div class="maincontainer">
			<div class="container2">
				<div class="title">
					<h1>Drop file to upload</h1>
				</div>
				<div class="dropzone">
					<form enctype="multipart/form-data" class="ajax redirect" action="{% url 'web:index' %}" method="POST">
						{% csrf_token %}
						<img src="http://100dayscss.com/codepen/upload.svg" />
						<div class= "form-group">
							<label for="{{form.file_name.id_for_label}}">File name</label>
							{{form.file_name}}
						</div>
		
						<div class= "form-group2">
							<label for="{{form.files_data.id_for_label}}">Files</label>
							<div class="style" s>{{form.files_data}}</div>
						</div>
		
						<button type="submit" class="btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
	</body>
</html>